:root {
  --white: #f5f5f6;
  --alto-100: #dadada;
  --alto-200: #e2e2e2;
  --silver-100: #cccccc;
  --silver-200: #c9c9c9;
  --silver-300: #bdbdbd;
  --nobel: #b3b3b3;
  --dusty-gray-100: #9c9c9c;
  --dusty-gray-200: #989898;
  --dusty-gray-300: #999999;
  --manatee: #9696a3;
  --burnt-sienna: #eb445a;
  --fruit-salad: #60994d;
  --dodger-blue: #0e95f3;
  --alizarin-crimson: #ee2d3a;
  --dove-gray: #666666;
  --scorpion-100: #616060;
  --scorpion-200: #5c5c5c;
  --jewel: #0f7a2d;
  --forest-green: #1d9b32;
  --crimson: #d6151c;
  --thunder: #353435;
  --tuatara-100: #2e2e2d;
  --tuatara-200: #2b2b2a;
  --tuatara-300: #46474f;
  --tuatara-400: #262523;
  --tuatara-500: #1f1f21;
  --tuatara-600: #1c1c1b;
  --tuatara-700: #21201e;
  --dune: #2e2c2a;
  --shark-100: #1a1a1e;
  --shark-200: #15161a;
  --shark-300: #323336;
  --shark-400: #313233;
  --shark-500: #27282a;
  --shark-600: #1e2021;
  --shark-700: #57575b;
  --shark-800: #adadad;
  --cod-gray-100: #161412;
  --cod-gray-200: #0d0c0c;
  --cod-gray-300: #121212;
  --boulder: #777777;
  --mako: #3f444a;
  --tuna: #3a3a3d;
  --tuna-200: #343437;
  --mariner: #2a78d4;
  --emperor: #544c4c;
  --mountain-meadow: #15ab6a;
  --mountain-meadow-200: #3987cc;
  --trout: #494f57;
  --gray-100: #828282;
  --silver-chalice-100: #b8b8b9;
  --outer-space: #262628;
  --black-100: #000000;
  --ship-gray-100: #414145;
  --st-tropaz: #296091;
  --tamarillo: #ad1117;
  --mine-shaft: #2e2e2e;
  --tundora: #454545;
  --cap-cod: #3b4142;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --font-family--avenir-next: "Avenir Next";
  --font-family--plex: "BinancePlex";
  --font-family--source-san-pro: "Source Sans Pro";
  --font-family--open-sans: "Open Sans";
  --font-family--montserrat: "Montserrat";
  --font-family--plex-sans: "IBM Plex Sans";
  /* border radius variable */
  --border-radius: 3px;
  --button-border-radius: 4px;
  --input-border-radius: 3px;
  /** font weight **/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /** custom colors */
  --grey-30: #c6c6c6;
  --grey-50: #8d8d8d;
  --cool-grey-10: #f2f4f8;
  --cool-grey-20: #dde1e6;
  --cool-grey-30: #c1c7cd;
  --cool-grey-40: #a2a9b0;
  --cool-grey-50: #878d96;
  --cool-grey-60: #697077;
  --cool-grey-70: #4d5358;
  --cool-grey-75: #363A40;
  --cool-grey-80: #343a3f;
  --cool-grey-85: #262c30;
  --cool-grey-90: #21272a;
  --cool-grey-95: #191e21;
  --cool-grey-96: #111618;
  --cool-grey-100: #121619;
  --warm-grey-20: #e5e0df;
  --warm-grey-100: #171414;
  --green-40: #42be65;
  --green-50: #24a148;
  --green-60: #198038;
  --red-50: #fa4d56;
  --red-60: #da1e28;
  --blue-40: #78a9ff;
  --blue-60: #0f62fe;
  --brand-red: #ee2d3a;
  --alert-20: #f1c21b;
  --teal-60: #007d79;
  --purple-50: #a56eff;
  --magenta-50: #ee5396;
}
