@import "./menu.scss";
@import "./dropdown.scss";
@import "./header.scss";
@import "./button.scss";
@import "./virtualized-table.scss";
@import "./card.scss";
@import "./tab.scss";
@import "./collapsible.scss";
@import "./numeric-input.scss";
@import "./resize-sensor.scss";
@import "./virtual-list.scss";
@import "./modal.scss";
@import "./range-slider.scss";
@import "./toasts.scss";
@import "./chart.fav.dropdown.scss";

.cpn-lastTick i {
  position: relative;
  top: -1px;
  font-size: rem(6);
  margin-left: 2px;
  padding-top: 2px;
}

.cpn-lastTick.price-down i {
  transform: rotate(180deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--emperor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.slider:before {
  /* position: absolute; */
  content: "";
  height: 14px;
  width: 14px;
  background-color: var(--silver-100);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--mariner);
}

/* input:focus + .slider {
    box-shadow: 0 0 1px var(--mariner);
  } */

input:checked + .slider {
  justify-content: flex-end;
}

/* Rounded sliders */
.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Overlay Upper */
.overlay-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* react-select */
.react-select-container {
  .fa-wallet {
    margin-right: 5px;
  }
  .react-select__control {
    background-color: inherit;
    border-color: var(--emperor);

    .react-select__single-value {
      color: inherit;
    }
    .react-select__indicator-separator {
      display: none;
    }
    .react-select__indicator {
      color: inherit;
    }
  }

  .react-select__menu {
    .react-select__menu-list {
      background-color: var(--shark-300);
      .react-select__option.react-select__option--is-selected {
        background-color: var(--emperor);
      }
    }
  }
}

// contract-detail
.contract-detail__wrapper {
  padding: 0 rem(5);
}
